/*body*/
.contenedor2 {
  display: flex;
  justify-content: center;
  padding-inline-start: 30px;
  margin: 5px;
  flex-wrap: wrap;
  gap: 16px;
}
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  border: 1px solid lightgray;
  border-radius: 15px;
  font-family: sans-serif;
  cursor: pointer;
  transition: all 0.4s;
}
.tarjeta:hover {
  transform: scale(0.9);
}
.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}
.cuerpo {
  padding: 10px;
  flex: 1 1 100%;
}
.cuerpo img {
  width: 405px;
}
.cuerpo p {
  display: flex;
  text-align: center;
  text-size-adjust: 420px;
}
.pie {
  background: #164676;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
.pie a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.pie a:after {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
