.imgNissan{
    width: 150px;
    height: auto;
}

nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items:  center;
}

ul{
    display: flex;
    gap: 20px;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}